<!DOCTYPE html>
<html>

<head>
    <title>Comparateur de prix</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
</head>

<body>
<h1>Comparateur de prix pour Appartement</h1>
    <p>
        <%= message %>
    </p>
    <form action="/" method="GET">
        <input type="text" name="urlLBC" />
        <button type "submit">Comparer</button>

    </form>
</body>

</html>